<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding-vertical">
    <ion-icon name="shield-half-outline" color="primary" style="font-size: 80px;"></ion-icon>
    <h3>Ganti Password Aman</h3>
    <p>Silakan lengkapi formulir di bawah ini Boss.</p>
  </div>

  <ion-list lines="none">
    <ion-label style="margin-left: 10px; font-weight: bold;">Masukan password lama</ion-label>
    <ion-item class="ion-margin-bottom" style="--background: #f4f4f4; --border-radius: 10px; margin-top: 5px;">
      <ion-input [(ngModel)]="oldPassword" type="password" placeholder="******"></ion-input>
    </ion-item>

    <ion-label style="margin-left: 10px; font-weight: bold;">Masukan password baru</ion-label>
    <ion-item class="ion-margin-bottom" style="--background: #f4f4f4; --border-radius: 10px; margin-top: 5px;">
      <ion-input [(ngModel)]="newPassword" type="password" placeholder="******"></ion-input>
    </ion-item>

    <ion-label style="margin-left: 10px; font-weight: bold;">Sekali lagi masukan password baru</ion-label>
    <ion-item style="--background: #f4f4f4; --border-radius: 10px; margin-top: 5px;">
      <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="******"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="updatePassword()" [disabled]="!oldPassword || !newPassword || !confirmPassword" style="margin-top: 30px; --border-radius: 10px;">
    Simpan Password Baru
  </ion-button>
</ion-content>