// Sama dengan login.page.scss
.auth-wrapper {
  background: linear-gradient(135deg, var(--ion-color-primary) 0%, #1dd1a1 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.form-section {
  background: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  flex: 3;
  
  .login-card {
    margin-top: -30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
}

.input-item {
  --background: #f4f7f6;
  --border-radius: 12px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.action-btn {
  height: 50px;
  --border-radius: 25px;
}