<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="forgot-container">
    <div class="instruction-text ion-margin-bottom">
      <p>Masukkan alamat email administrasi Anda yang terdaftar. Kami akan mengirimkan tautan untuk memulihkan kata sandi Anda.</p>
    </div>

    <ion-item lines="full" class="ion-margin-bottom">
      <ion-label position="stacked">Alamat Email</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="resetData.email" 
        placeholder="contoh: admin@ngojekyuk.com"
        required>
      </ion-input>
    </ion-item>

    <div class="ion-margin-top">
      <ion-button expand="block" color="primary" (click)="onReset()">
        Kirim Tautan Pemulihan
      </ion-button>
      
      <ion-button expand="block" fill="clear" color="medium" (click)="goBack()">
        Kembali ke Login
      </ion-button>
    </div>
  </div>
</ion-content>